*{
    box-sizing: border-box;
}
body{
    background-image: url(papel-de-parede-plano-de-pipoca_738849-1384.avif);
    justify-content: center;
    display: flex;
}
#site{
    width: 1024px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding:20px;
    margin: 10px auto;
    margin-bottom: 200px;
}
#mensagem{
    display: flex;
    margin: 5px;
}
h2{
font-size: 1em;

}
hr{
border: #000 solid 1px;
margin: 5px;

}
#rodape{
font-size: 0.75em;
display: flex;
text-align: center;

}